In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv'
df = pd.read_csv(url)

In [3]:
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

### 1. Find the number of columns in the DataFrame

In [4]:
num_columns = df.shape[1]
print("Number of columns:", num_columns)

Number of columns: 12

### 2. Find the mean of the house prices

In [5]:
mean_price = df['price'].mean()
print("Mean house price:", mean_price)

Mean house price: 234144.26395939087

### 3. Find the median of the house prices

In [6]:
median_price = df['price'].median()
print("Median house price:", median_price)

Median house price: 213750.0

### 4. Find the different types of property in the dataset

In [7]:
property_types = df['type'].unique()
print("Different property types:", property_types)

Different property types: ['Residential' 'Condo' 'Multi-Family' 'Unkown']

### 5. Find the maximum price of a "Condo" in the dataset (case insensitive)

In [8]:
max_condo_price = df[df['type'].str.lower() == 'condo']['price'].max()
print("Max price of a Condo:", max_condo_price)

Max price of a Condo: 360000

### 6. Find the mean price of each type of property in the dataset

In [9]:
mean_price_by_type = df.groupby('type')['price'].mean()
print("Mean price by property type:\n", mean_price_by_type)

Mean price by property type:
 type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

### 7. Find the count of different property types in the dataset

In [10]:
property_type_counts = df['type'].value_counts()
print("Count of property types:\n", property_type_counts)

Count of property types:
 type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64